* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-family: 'Rubik', sans-serif;
    --textoMenu: #4a4a4a;
    --fondoPagina: #3CDBC0;
    --colorTexto: #FFFFFF;
    
  }
  
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    width: 100vw;
    text-align: center; 
    background-color: var(--colorTexto);
    padding-bottom: 13px;
  }
  
  .logo{
    width: 155px;
  }
  
  .menu{
    display: flex;
    margin-bottom: 13px;
    margin-top: 10px;
    justify-content: center;
   
  }
  .menu-link{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
  }
  .hipervinculo{
    padding: 10px 10px 13px 10px;
    text-decoration: none;
    color: var(--textoMenu);
  }
  .main{
    height: 100vh;
    
  }
  .principal-text{
    color: var(--colorTexto);
    font-size: 40px;
    text-align: center;
    word-spacing: 100vw;
    background-color: var(--fondoPagina);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: capitalize;
  }
  
  @media (min-width: 768px ){
      .logo{
        position: absolute;
        padding: 0;
        width: 20%;      
        left: 30px;   
      }
      .section-menu{
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 450px;
        padding-top: 20px;
        

    }
    .principal-text{
        height: 100vh;
    }
   
  }
  @media (min-width: 1000px){
      .principal-text{
        word-spacing: 2000px;
      }
      .logo{
        width: 10%;
      }
      .section-menu{
        margin-left: 900px;
      }
  }