* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --textoMenu: #4a4a4a;
    --fondoPagina: #3CDBC0;
    --colorTexto: #FFFFFF;
    --fontFamily: 'Rubik', sans-serif;
  }

  .cabecera{
    width: 100%;
    margin: auto;
    text-align: center; 
    margin-top: 10px;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: var(--colorTexto);
  }
  
  .logo{
    width: 100%;
  }
  
  .menu{
    font-size: 16px;
    font-family: var(--fontFamily);
    display: flex;
    margin-bottom: 13px;
    margin-top: 10px;
    justify-content: center;
   
  }
  .menu-link{
    margin: 20px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: var(--textoMenu);
  }
  .main{
    width: 100%;
    
  }
  .texto-principal{
    color: var(--colorTexto);
    font-family: var(--fontFamily);
    font-size: 30px;
    text-align: center;
    word-spacing: 1000px;
  }
  .texto-principal:first-line {
    word-spacing: 100vw;
  }
  
  .section-principal{
    background-color: var(--fondoPagina);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  @media (min-width: 768px ){
      .logo{
        position: absolute;
        padding: 0;
        width: 20%;      
        left: 30px;    
      }
      .section-menu{
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 450px;
    }
    .section-principal{
        height: 100vh;
    }
   
  }
  @media (min-width: 1000px){
      .texto-principal{
        word-spacing: 2000px;
      }
      .logo{
        width: 10%;
      }
      .section-menu{
        margin-left: 900px;
      }
  }